.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 40px;
  background-color: #353a43;
  width: 200px;
  height: 300px;
}

.item p{
  margin: 10px auto ;
}

.main{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main img{
  width: 100px;
  height: 100px;
}

.main a, main a:hover, main a:active{
  text-decoration: none;
  outline: 0;
}