.row{
    display: flex;
    /*margin: 3px 0;*/
}

.row:hover{
    transition: .2s linear;
    box-shadow: 0 0 14px -3px #61dafb;
    z-index: 10;
}

.row div{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.row_even{
    background-color: #3d424b;
}

.row_not_even{
    background-color: #353a43;
}



